<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="pl">

<head>
    <title>Quote Generator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{css/main.css}" rel="stylesheet" />
</head>

<body>

<h2>Welcome in our Quote Generator</h2>

<p><b>Quote: </b> <span th:text="${quote.getContent()}"></span></p>
<p><b>Author: </b> <i th:text="${quote.getAuthor()}"></i></p>
<p><button onclick=location=URL>Next quote</button></p>

</body>

</html>